html, body {
    margin: 0px;
    height: 100%;
}

.container {
    margin-bottom: -10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


button {
    margin: 8px;
    position: absolute;
    border: solid 3px black;
    background-color: white;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}